PORT=10001
NODE_ENV=development
CORS_ORIGIN=http://localhost:10002
FILE_BASE_URL=http://192.168.1.9:10001
JWT_SECRET=super_secret_ranniti_jwt_key_2026
JWT_EXPIRES_IN=7d

# Local Database Configuration
DB_DIALECT=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ranniti_db

# Redis In-Memory Cache Configuration
REDIS_ENABLED=true
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DB=0
REDIS_TTL_DEFAULT=86400
REDIS_TTL_JITTER_PCT=15