PORT=10001
NODE_ENV=development
CORS_ORIGIN=http://localhost:10002
FILE_BASE_URL=http://localhost:10001
JWT_SECRET=super_secret_ranniti_jwt_key_2026
JWT_EXPIRES_IN=7d

# Database Configuration Example
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=ranniti_db
